@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

:root {
  --primary-color: #c77dff;
  --secondary-color: #240046;
  --accent1-color: #e0aaff;
  --accent2-color: #9e9eea;

  --heading-font: "Rock Salt", hand;
  --paragraph-font: "Original Surfer", sans-serif;

  --nav-background-color: #bb63ee;
  --nav-link-color: #9d4edd;
  --nav-hover-link-color: rgb(58, 58, 155);
  --nav-hover-background-color: #be60f5;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
  max-width: 840px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7fr;
  padding: 20px;
  background-color: var(--secondary-color);
}
header img {
  margin: 0 0.5rem;
  width: 100px;
  height: auto;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  border: dotted 4px black;
  background-color: var(--nav-background-color);
}
header nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  border-right: dotted 4px var(--accent1-color);
  padding-right: 40px;
}
header nav a:last-of-type {
  border-right: none;
}


p {
  padding: 20px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
figure {
  display: grid;
  align-self: baseline;
  max-width: 120px;
  max-height: 130px;
}
figcaption {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  font: var(--paragraph-font);
  padding: 2px;
  text-align: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1
{
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: rgba(rgb(38, 105, 136), rgb(5, 10, 5), 17, 0.6);
}
.hero article
{
    position: absolute;
    top: auto;
    left: auto;
}
.hero article img{
    float: right;
    width: auto;
    height: 10rem;
}
#history {
  padding-top: 25px;
  margin: 5px;
}

#history h2 {
  text-align: center;
}

#history p:last-of-type {
  padding-top: 0;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#adventure {
  display: grid;
  align-items: center;
  border: thin var(--accent1-color) solid;
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: var(--secondary-color);
}

#adventure h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column: 1/6;
  text-align: center;
}

#adventure img {
  width: 150px;
  max-height: 120px;
}

.sociallinks {
  justify-self: last baseline;
  background-color: inherit;
  color: var(--nav-link-color);
}

