main {
    max-width: 840px;
}

main img {
    box-shadow: #000;
    width: 200px;
    height: auto;
    padding: 0%;
}

aside {
    width: 20px;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: aqua;
    color: black;
    text-align: center;
}

nav {
    padding: auto;
    background-color: #000;
}

nav a {
    display: block;
    padding: 0%;
    color: aqua;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}