main {
    max-width: 840px;
}

aside {
    width: 20px;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: aqua;
    color: black;
    text-align: center;
}

img aside {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}